[submodule "vagrant_project/opscode-cookbooks"]
	path = vagrant_project/opscode-cookbooks
	url = git://github.com/opscode/cookbooks.git
[submodule "vagrant_project/cookbooks/rvm"]
	path = vagrant_project/cookbooks/rvm
	url = git://github.com/fnichol/chef-rvm.git
